.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
    padding-left: 50px;
    padding-right: 50px;
}

div.headerRow {
    display: flex;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

div.headerRow div {
    flex: 0.5;
    border: 1px solid;
    padding: 1%;
    font-weight: bold;
    margin: 0 0 2px 0;
}

div.row {
    display: flex;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

div.row div {
    flex: 0.25;
    border: 1px solid;
    padding: 1%;
}

div.return {
    margin: 0 0 10px 0;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    display: flex;
}

div.return button {
    flex: 1;
    background-color: rgb(100,150,200);
    font-weight: bold;
    font-color: rgb(0, 100, 0);
}
